# Team SNPS

# Assignment-9

In [1]:
import csv
import pandas as pd
import numpy as np
from DATA225utils import make_connection, dataframe_query

In [2]:
conn_operational = make_connection(config_file = 'nba.ini')
cursor_operational = conn_operational.cursor()

In [3]:
conn_analytical = make_connection(config_file = 'nba_analytical.ini')
cursor_analytical = conn_analytical.cursor()

### Create at least two queries per fact table that join with the dimension tables.
#### o Describe the query in English.
#### o Write and execute the SQL.

## Query 1:

#### In this query we are trying to retrieve the player statistics such as total_points, rebounds, and assists for each player in various seasons, along with the season year and the player name.

    -The SQL query displays the player statistics (total_points, rebounds, and assists) with player names for various 
    seasons, sorted by season. 
    
    -To obtain the necessary information, the query connects fact and dimension tables including player_stats, game, player, 
    and calendar. 
    
    -To obtain the player name, it first combines the player table and the player_stats table using the player_key column. 
    Then, in order to obtain season information, it links the game table to the player_stats table through the game_key 
    column along with the calendar table to the game table of the date_key column.
    
    -The query joins the tables and then summarises the statistics of each player's total_points, rebounds, and assists 
    for every season using the SUM() function. The GROUP BY and ORDER BY clauses are used to group the data by season 
    along with player name and to arrange the outcomes by season. 
    
    
    The final output of the query is a table with the player's name, season, and the number of points, rebounds, and assists they have received in each of their seasons.

In [4]:
sql1 = ('''
      SELECT calendar.yr as season, player.player_name, SUM(player_stats.points) as total_points, SUM(player_stats.rebounds) as total_rebounds, SUM(player_stats.assists) as total_assists
FROM player_stats
JOIN player ON player_stats.player_key = player.player_key
JOIN game ON player_stats.game_key = game.game_key
JOIN calendar ON game.date_key = calendar.date_key
GROUP BY calendar.yr, player.player_name
ORDER BY calendar.yr;

        ''')
dataframe_query(conn_analytical, sql1)[1]

      season        player_name total_points total_rebounds total_assists
0       2004       Adonal Foyle          211            272            27
1       2004      Al Harrington         1266            588           174
2       2004       Al Jefferson          209            127             6
3       2004      Allen Iverson         1499            211           399
4       2004  Amar'e Stoudemire         1643            601           108
...      ...                ...          ...            ...           ...
9996    2022      Yuta Watanabe          241            104            29
9997    2022       Zach Collins          425            279           127
9998    2022        Zach LaVine         1518            294           314
9999    2022    Zion Williamson          674            195           129
10000   2022     Zylan Cheatham            7             15             4

[10001 rows x 5 columns]

## Query 2:

#### In this query we are trying to retrieve the total number of games played by each player in each season, along with the player name and season year.

    -The purpose of the query is to return information on each player's total number of games played during each season.
    
    -To obtain the player name, we first join the player_stats table to the player table using the player_key. 
    
    -The games played by each player are then obtained by joining the game table to the player_stats table based on the game 
     key.     
    
    -The year of the season for each game is then obtained by joining the calendar table to the game table using the date 
    key. 
    
    -In order to determine how many games each player played during each season, we categorize the stats by player name in 
     addition to season year. 
    
    -The results are then filtered by only including players who have played at least 50 games in a season, and they are 
    then arranged in descending order by the number of games played by each player overall during each season.

In [5]:
sql2 = ('''
        SELECT player.player_name, calendar.yr as season, COUNT(DISTINCT game.game_key) as total_games_played
        FROM player_stats
        JOIN player ON player_stats.player_key = player.player_key
        JOIN game ON player_stats.game_key = game.game_key
        JOIN calendar ON game.date_key = calendar.date_key
        GROUP BY player.player_name, calendar.yr
        HAVING COUNT(DISTINCT game.game_key) >= 50
        ORDER BY total_games_played DESC;

        ''')
dataframe_query(conn_analytical, sql2)[1]

          player_name season  total_games_played
0     Pat Connaughton   2021                 129
1         Bryn Forbes   2021                 128
2        Devin Booker   2021                 128
3       Mikal Bridges   2021                 128
4          Chris Paul   2021                 126
...               ...    ...                 ...
6038  Peja Stojakovic   2011                  50
6039        Raja Bell   2010                  50
6040        Raja Bell   2011                  50
6041       Randy Foye   2017                  50
6042  Reggie Williams   2011                  50

[6043 rows x 3 columns]

In [ ]:
_, df = dataframe_query(conn_warehouse,
                        
        """
            select t.team_name, t.city, t.conference,s.win_pct, c.yr
            FROM team t, calendar c, standings s
            where t.team_key = s.team_key
            and c.date_key = s.date_key
            and c.yr = 2005
            and c.qtr = 2
            and t.conference = 'West';
        """ )

df

In [ ]:
_, df = dataframe_query(conn_warehouse,
                        
        """
            select sum(s.wins) as Total_Wins, t.team_name, t.state
            FROM team t, calendar c, standings s
            where t.team_key = s.team_key
            and c.date_key = s.date_key
            and c.yr = 2005
            GROUP BY t.team_name, t.state
            ORDER BY Total_Wins DESC;
        """ )
df